body {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #333;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
  color: #DDD;
}

h1 {
  background-color: #900;
  font-variant: small-caps;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin-bottom:15px;
  box-shadow: 0px 5px 5px #111;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
}

a:hover {
  text-decoration: none;
  color: #900;
}

a {
  text-decoration: underline;
  color: #fc0;
}

div#game {
  width: 100%;
}

canvas {
  margin: auto;
  border: 5px solid #222;
}

section#record {
  padding: 10px;
}

div#data section {
  float: left;
  width: 50%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 0px 10px;
}

td:first-child {
  font-weight: bolder;
}